<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SMSSceneReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SMSSceneReader.Properties.Settings>
            <setting name="PreviousOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="previewPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="previewSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="previewSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skyDrawMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="worldDrawMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="objectDrawMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="railColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="railSelColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="railNodeColor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="railNodeSelColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="objColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="objSelColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="cameraMoveY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voidColor" serializeAs="String">
                <value>0, 0, 32</value>
            </setting>
            <setting name="needsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="previewDrawDistance" serializeAs="String">
                <value>500000</value>
            </setting>
            <setting name="previewState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="mainPreviewLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainLoadSeconds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainShortcuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="previewOrigin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="commonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="stageArc" serializeAs="String">
                <value />
            </setting>
            <setting name="cameraSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="paramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="showParamInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paramHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="previewSizeX" serializeAs="String">
                <value />
            </setting>
            <setting name="previewSizeY" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyBindFrontView" serializeAs="String">
                <value>NumPad1</value>
            </setting>
            <setting name="KeyBindRightView" serializeAs="String">
                <value>NumPad3</value>
            </setting>
            <setting name="KeyBindOrthoView" serializeAs="String">
                <value>NumPad5</value>
            </setting>
            <setting name="KeyBindTopView" serializeAs="String">
                <value>NumPad7</value>
            </setting>
            <setting name="KeyBindMoveForward" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="KeyBindMoveBackward" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="KeyBindMoveLeft" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="KeyBindMoveRight" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="KeyBindMoveUp" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="KeyBindMoveDown" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="KeyBindStartDrag" serializeAs="String">
                <value>G</value>
            </setting>
        </SMSSceneReader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>